namespace = "vitality"
stage     = "dev"
name      = "api"
region    = "us-west-2"

# API service configuration
container_port = 3001

# Database configuration
db_name          = "vitality"
db_port          = 5432
db_admin_user    = "postgres"
db_admin_password = "change_this_in_production"  # Only for example, use secure method in production

# Additional tags
tags = {
  Project     = "Vitality"
  Environment = "Development"
  ManagedBy   = "Terraform"
  Owner       = "DevOps"
} 